html {
    scroll-behavior: smooth;
  }

body{
    background: linear-gradient(to bottom, #1e528e 0%,#728a7c 50%,#e9ce5d 100%) !important;
    

    font-family:"Comic Sans MS";
}
li:hover{
    text-decoration: underline;
}




section{
    /*height: 600px;*/
    /*border: solid;*/
    padding-bottom: 20rem;
    padding-top: 1.5rem;
}

footer{
    text-align: center;
    background-color: #87CEEB;
}

#home{
    padding-bottom: 23.9rem;
    text-align: center;
}
#homebutton{
    margin-top: 3%;
}

#gallery{
    padding-bottom: 0rem;
}

h1{
    padding-bottom: 1.5rem;
}

h5{
    font-weight: bold;
}

h6{
    text-decoration: underline;
}

body{
    background: radial-gradient(#e66465, #9198e5);
}
.blue{
    background-color: #87CEEB;
}

.lavendar{
    background-color: lavender;
}


h1{
    text-align: center;
    padding-top: 2.5rem;
}


#introduction{
    font-size: 2rem;
    text-align: center;
    padding-top: 16rem;
    color: whitesmoke;
}

/* Contact Section */
#contact{
    text-align: center;
}

.contactinfo{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    align-self: center;
}

#linkedincontact{
    background-image: url("contactDir/linkedinpic.png");
    background-size: 50px;
}

#githubcontact{
    background-image: url("contactDir/github.png");
    background-size: 50px;
}

#twittercontact{
    background-image: url("contactDir/twitter.png");
    background-size: 50px;
}

a:visited{
    color: transparent;
}

/* About Section*/
#about{
    text-align: center;
}

.textBox{
    text-align: center;
    height: 6rem;
    width: 6rem;
}


#htmlSkill{
    background-image: url("skillsDir/html5Logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#cssSkill{
    background-image: url("skillsDir/css3Logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#javascriptSkill{
    background-image: url("skillsDir/javascriptLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#bootstrapSkill{
    background-image: url("skillsDir/bootstrapLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#pythonSkill{
    background-image: url("skillsDir/pythonLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#javaSkill{
    background-image: url("skillsDir/javaLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#cSkill{
    background-image: url("skillsDir/cLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#cppSkill{
    background-image: url("skillsDir/c++Logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#mongoDBSkill{
    background-image: url("skillsDir/mongoDBLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#expressSkill{
    background-image: url("skillsDir/expressLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#reactSkill{
    background-image: url("skillsDir/reactLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#nodeSkill{
    background-image: url("skillsDir/nodeLogo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.textBox > p{
    opacity: 0%;
}



/* About Section*/

/* Project Section*/


/*Experience Section*/
.card{
    background-color: rgb(255, 213, 128);
}

#swooptutorslogo{
    padding-top: 25%;
    padding-bottom: 50%;
}



/*Gallery Section*/
/*
#gallerycontainer{
    display: flex;
    width:80%;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

}
*/
/*
#gallery{
    text-align: center;
}
*/


